// Place all the styles related to the maps controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
canvas {
  margin: 0px;
}

p {
  margin: 0px;
}

.hexLegend{
    width: 100%;
    height:140px;
    border:1px solid red;
    margin-right:10px;
    float:left;
}

.countryButton{
    float:center;
    text-align: center;
    margin-right:2px;
    margin-left:2px;
}

.countryBorder{
    float:left;
    text-align: center;
    margin-right:2px;
    margin-left:2px;
}

.stateLabel{
    float:left;
    width: 90%;
    border:1px solid red;
}

.countryLegend{
    width: 100%;
    height:112px;
    border:1px solid red;
    margin-right:10px;
}

.map{
    width: 1600px;
    border:1px solid red;
    margin-right:10px;
    float:left;
}

.hexIcon {
  float:left;
  margin-right:5px;
  border: 1px solid #ccc;
  padding: 2;
  width: 45px;
}
